.lesson {
    background-color: lemonchiffon;
  }
  
  .title {
    color: darkblue;
  }
  
  #email {
    background-color: goldenrod;
  }
  
  #phone {
    background-color: lightsteelblue;
  }
  
  #portfolio {
    background-color: darkorange;
  }
  
  #style {
    width:200px;
    height:200px;
  }
  