/* Class selection starts with . */
.lesson {
    background-color: lemonchiffon;
  }
  
  .title {
    color: darkblue;
  }
  
  /* ID selection starts with # */
  #email {
    background-color: goldenrod;
  }
  
  #phone {
    background-color: lightsteelblue;
  }
  
  #portfolio {
    background-color: darkorange;
  }
  
  #style {
    width:200px;
    height:200px;
  }

  .lesson1 {
    width: 200px;
    height: 100px;
  }

  .section1 {
    background-color: purple;
  }

  .yellowtext {
    color: yellow;
  }

  .section2 
  
